Source: pxf
Maintainer: Greengage <greengage@greengagedb.org>
Section: database
Build-Depends: debhelper (>= 13),
	dh-python,
	lsb-release

Package: pxf
Architecture: any
Depends: ${shlibs:Depends},
	greengage
Description: The PXF package with FDW extension provides connection pool for the Greengage Database
	PXF is an extensible framework that allows a distributed database like 
	Greengage to query external data files, whose metadata is not managed by 
	the database.
	PXF includes built-in connectors for accessing data that exists inside HDFS 
	files, Hive tables, HBase tables, JDBC-accessible databases and more.
	Users can also create their own connectors to other data storage or 
	processing engines.
