#!/usr/bin/make -f

DH_VERBOSE = 1

GPHOME ?= /opt/greengagedb/greengage$(GP_MAJORVERSION)
PXF_HOME ?= /opt/greengagedb/pxf
GPHOME_REL := $(GPHOME:/%=%)
PXF_HOME_REL := $(PXF_HOME:/%=%)

export DH_OPTIONS := $(DH_OPTIONS)
export DEB_BUILD_OPTIONS = nocheck
export PG_CONFIG=$(GPHOME)/bin/pg_config
export PATH := $(GPHOME)/bin:/usr/local/go/bin:$(PATH)

%:
	dh $@

override_dh_auto_clean:
	@echo "Skipping clean"

override_dh_auto_configure:
	@echo "=== Generating .install files for GP$(GP_MAJORVERSION) ==="
	sed 's|@PXF_HOME_REL@|$(PXF_HOME_REL)|g' debian/pxf-server.install.in > debian/pxf-server.install
	sed 's|@PXF_HOME_REL@|$(PXF_HOME_REL)|g' debian/pxf-cli.install.in    > debian/pxf-cli.install
	sed 's|@GPHOME_REL@|$(GPHOME_REL)|g'     debian/pxf-fdw.install.in    > debian/pxf-fdw$(GP_MAJORVERSION).install

override_dh_auto_build:
	@echo "Skipping autobuild"

override_dh_auto_install:
	@echo "=== Installing pxf-server ==="
	env -u CFLAGS -u CPPFLAGS -u CXXFLAGS -u LDFLAGS -u MAKEOVERRIDES \
	$(MAKE) -C server install \
	    DESTDIR=$(CURDIR)/debian/tmp \
	    GPHOME=$(GPHOME) \
			PXF_HOME=$(PXF_HOME) \
			SKIP_TESTS=true
	$(MAKE) -C cli install \
	    DESTDIR=$(CURDIR)/debian/tmp \
	    GPHOME=$(GPHOME) \
			PXF_HOME=$(PXF_HOME)

	@echo "=== Installing pxf-fdw ==="
ifeq ($(SKIP_FDW_BUILD_REASON),)
	$(MAKE) -C fdw install \
	    DESTDIR=$(CURDIR)/debian/tmp \
	    GPHOME=$(GPHOME) \
			PXF_HOME=$(PXF_HOME)
	$(MAKE) -C external-table install \
	    DESTDIR=$(CURDIR)/debian/tmp \
	    GPHOME=$(GPHOME) \
			PXF_HOME=$(PXF_HOME)
else
	@echo "Skipping FDW: $(SKIP_FDW_BUILD_REASON)"
endif

override_dh_dwz:
	@echo "Skipping debug simbols compression (not working properly with Golang)"
	dh_dwz -Xpxf-cli

override_dh_gencontrol:
	@echo "=== Generating control files ==="
	dh_gencontrol
